/*  Global Rules*/
body {
  font-family: "Roboto", sans-serif !important;
}

.fa-cairo {
  font-family: "Cairo", sans-serif !important;
}

.low-shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0) !important;
}
